body {
  background-color: rgb(47, 52, 58);
  color: rgb(212, 212, 212);
}

.container {
  background-color: rgb(84, 92, 103);
  margin: 40px auto;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
}

img {
  width: 100%;
  transition: all 0.5s ease-in-out; 
  cursor: pointer;
}
img:hover {
  border: 1px dotted orange;
}